<!doctype html>
<html ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.search_term">
    </div>
    <div class="form-group narrow-button " >
      <button class="btn btn-primary" ng-click="menu.narrow_it_down()">Narrow It Down For Me!</button>
          <div class="error" ng-if="menu.loading">Searching .... </div>

    </div>
    <br>
    <br>
    <br>
    <!-- <div class="mt-5">
      <ol>
        <li ng-repeat="item in menu.items">
           {{ item.name }}, {{ item.description }}
          <button ng-click="list.onRemove({index: $index});">Remove Item</button>
        </li>
      </ol>
    </div> -->
    <!-- found-items should be implemented as a component -->
    <found-items 
    found="menu.items"
    on-remove="menu.removeItem(itemIndex)"
     
    >
        
    </found-items>

  </div>

</body>
</html>

